.commerce_third-info {
    @include flexBox;
    margin-top: 198px;
    gap: 365px;

    @media (max-width:$tablet) {
      max-width: $tablet;
      gap: 10px;
    }

    @media (max-width:$phone) {
      max-width: $phone;
    }
 

       .img {
         background-image: url(/images/Blob.svg);
         background-repeat: no-repeat;

         svg {
          @media (max-width:$tablet) {
            display: inline-block;
            width: 253px;
            height: 328px;
           }
         }
       }

       .improve {
            // margin-left: 817px;
            //margin-bottom: 200px;
    
          h2 {
            font-style: normal;
            font-size: 50px;
            line-height: 107.9%;
            text-align: right;
            color: $color;
            width: 573px;
            height: 105px;
            margin: 0;

            @media (max-width:$tablet) {
              font-size: 40px;
            }
          }

            p {
              font-style: normal;
                font-size: 14px;
                line-height: 140%;
                color: #9CA3AF;
                width: 359px;
                height: 62px;
                margin: 0;
                margin-top: 32px;
                margin-left: 189px;
                margin-bottom: 24px;
            }
            a {
                text-decoration: none;
                background: $color;
                border-radius: 8px;
                font-size: 16px;
                line-height: 97.9%;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                padding: 12px 32px;
                margin-left: 255px;
            }     
       }  
}
